@page "/"
@namespace EMoos.Server
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HostModel
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EMoos</title>
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold is-size-5" href="http://emoos.solutions">
          <img style="height:40px" src="/img/moos-icon.jpg" />
          &nbsp;
          EMoos 
        </a>
      </div>
    </nav>
    <div id="main">@(await Html.RenderComponentAsync<EMoos.Client.Main.MyApp>(Model.IsServer ? RenderMode.ServerPrerendered : RenderMode.Static))</div>
    <script src="_framework/blazor.@(Model.IsServer ? "server" : "webassembly").js"></script>
  </body>
</html>
